services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_DB: esports_app
      POSTGRES_USER: LegendAR
      POSTGRES_PASSWORD: 159753
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  adminer:
    image: adminer
    restart: always
    ports:
      - "8080:8080"

  backend:
    build: .
    ports:
      - "4000:4000"
    env_file:
      - .env
    depends_on:
      - db

volumes:
  pgdata:
